$dark: #474960;
$main: #7ae582;
$animation-time: 0.75s;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Fira Sans;

  &:focus {
    outline: 2px solid rgba($dark, 0.5);
  }
}

/* Firefox */
::-moz-selection {
  color: #fff;
  background: $dark;
}

::selection {
  color: #fff;
  background: $dark;
}

body {
  color: var(--dark);
}

a {
  text-decoration: none;
  color: $dark;
}

li a {
  transition-property: color, background;
  transition: 0.2s ease-in-out;

  &::after {
    content: '';
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 0;
    height: 3px;
    background: $main;

    transition-property: width;
    transition: 0.2s ease-in-out;
  }

  &:hover {
    color: $main !important;
  }

  &:hover::after {
    left: 0;
    width: 100%;
  }
}

ul {
  list-style: none;
}

.logo {
  user-select: none;
  float: left;
  padding: 10px 20px;
  font-weight: 900;
  text-decoration: none;
  color: $main;
  font-size: 30px;
  transition-property: color, transform;
  transition: 0.2s ease-in-out;

  &:hover {
    color: lighten($main, 10);
    transform: translateY(-5px) rotate(-5deg);
  }
}

.defaultTitle {
  font-size: 1.5rem;
  font-weight: 900;
  color: $dark;
}

.color {
  color: $main;
}

.title {
  color: $dark;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 45px;
}

.row {
  flex-direction: row !important;
}
