* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Fira Sans;
  color: var(--dark);
}

$dark: #474960;
$dark-shadow: rgba(71, 73, 96, 0.15);

$main: #ff9f1c;
$main-shadow: rgba(255, 159, 28, 0.5);
